html, body {
  height: 100%;
}

#head {
  background-color: #003058;
  background-image: url("../img/roofwrap.mobile.home.roofing.system.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 13em;
}

#menu {
  height: 3em;
  background: #6e6e6e;
  color: white;
}

#content {
  background-color: #fff;
}

#foot {
  background-color: #003058;
  height: 100px;
}
