<div layout="row">
  <div class="left-column" flex="33" ng-if="!responsiveHelper.isSmall() && !responsiveHelper.isExtraSmall()">
    <h2>Customers Love RoofWrap</h2>
    <hr />
    <p class="quote">I battled my  1972 single wide trailer roof for years using coatings.  A neighbor of mine bought a RoofWrap and recommended it.  It’s been 8 years and not a drop to be seen.  My two brothers and I put in on in less than a day.  Thanks RoofWrap!</p>
    <p class="author">Ron R, Forest City, SC</p>
    <br />
    <p class="quote">Our double wide got a White RoofWrap applied to it last month.  It looks great, no leaks and is quieter on the inside than before.  Our park handyman installed it and now has more orders.</p>
    <p class="author">Beverly B, Citrus Springs, FL</p>
  </div>
  <div class="right-column" flex="66">
    <h3>ABOUT ROOFWRAP</h3>
    <hr />
    <img src="" /> <!-- TODO - img -->
    <p>RoofWrap combines over forty years of hands on experience in residential roofing material supply and over 20 years in the supply of EPDM rubber roofing for use on mobile homes. Through this long time involvement, we have developed the most cost effective, simple to install and longest lasting systems in today’s market. There is no other source that provides you with such a complete, custom package of top quality, proven components.</p>
    <p>We have fourteen shipping points across the North America. This allows us to save you on long distance transportation costs. We strive to assure a maximum of the money you spend on your roof will go into the roofing material itself, not extraneous costs that add nothing to the value, quality and longevity of your roof.</p>

    <h4>WHAT ELSE WE DO FOR YOU!</h4>
    <p>We are here to help you with building your kit, supplying your order in a timely manner and assisting you with support during the installation. Feedback from previous customers let us know that we have the solution mobile home owners are seeking. Join satisfied RoofWrap clients across North America and solve your roofing problems once and for all ... at a price you can afford.</p>
    <p>RoofWrap’s EPDM rubber has been manufactured in the USA since the mid-1960’s.  We have developed the most cost effective, simple to install and longest lasting systems in today’s market.  No other source provides you with such a complete, custom package of top quality, long, proven components.</p>
    <p>We are committed to the use of one-piece EPDM rubber sheets as the best choice for retrofitting over existing mobile home roofs.  RoofWrap is lightweight and can handle roof stresses with its ability to stretch three times its relaxed size.  All this plus it is highly puncture, tear and impact resistant and is made to withstand extremes in temperature, building movement and thermal shock. </p>
    <p>This same EPDM rubber has been the U.S. Federal Government’s most specified low slope roofing membrane.  From the typhoon-prone facilities in Guam and Hawaii to the extremes of Alaska and cross all of North America, EPDM rubber has met their needs.</p>
    <p>Ask those in the professional commercial roofing field:  EPDM is the number one roofing choice of architects, roof consultants and contractors for both new construction and replacement roofing projects according to Building Design and Construction magazine and the National Roofing Contractors Association market surveys.</p>

    <!--TODO button to brochure -->
  </div>
</div>
