<div layout="row">
  <div class="left-column" flex="33" ng-if="!responsiveHelper.isSmall() && !responsiveHelper.isExtraSmall()">
    <h2>Customers Love RoofWrap</h2>
    <hr />
    <p class="quote">I battled my  1972 single wide trailer roof for years using coatings.  A neighbor of mine bought a RoofWrap and recommended it.  It’s been 8 years and not a drop to be seen.  My two brothers and I put in on in less than a day.  Thanks RoofWrap!</p>
    <p class="author">Ron R, Forest City, SC</p>
    <br />
    <p class="quote">Our double wide got a White RoofWrap applied to it last month.  It looks great, no leaks and is quieter on the inside than before.  Our park handyman installed it and now has more orders.</p>
    <p class="author">Beverly B, Citrus Springs, FL</p>
  </div>
  <div class="right-column" flex="66">
    <h3>Construction Diagrams</h3>
    <hr />
    <img src="" />
    <p>Various diagrams that help illustrate different aspects of installation.</p>
    <ul>
      <li><a href="#">Hanging gutter detail</a></li> <!-- TODO links all around -->
      <li><a href="#">Deck angle change attachment detail</a></li>
      <li><a href="#">Overlap detail</a></li>
      <li><a href="#">High wind hybrid attachment detail</a></li>
    </ul>
  </div>
</div>
