<div layout="row">
  <div class="left-column" flex="33">
    <h2>Customers Love RoofWrap</h2>
    <hr />
    <p class="quote">I battled my  1972 single wide trailer roof for years using coatings.  A neighbor of mine bought a RoofWrap and recommended it.  It’s been 8 years and not a drop to be seen.  My two brothers and I put in on in less than a day.  Thanks RoofWrap!</p>
    <p class="author">Ron R, Forest City, SC</p>
    <br />
    <p class="quote">Our double wide got a White RoofWrap applied to it last month.  It looks great, no leaks and is quieter on the inside than before.  Our park handyman installed it and now has more orders.</p>
    <p class="author">Beverly B, Citrus Springs, FL</p>
  </div>
  <div class="right-column" flex="66">
    <h3>PRODUCT DESCRIPTIONS</h3>
    <hr />
    <img src="" /> <!-- TODO - img -->
    <p>PLEASE NOTE: Roofwrap maintains the availability of Materials Safety Data Sheets for all its products. These publications contain health and safety information on how to protect oneself from any potential hazards associated with product use. Roofwrap Material Safety Data Sheets should be read and understood by all those using the products. Available upon request.</p>

    <h5>MEMBRANES</h5>
    <ul>
      <li>Standard Black EPDM Membrane</li>
      <li>White-on-Black EPDM Membrane</li>
    </ul>

    <h5>ADHESIVES, FASTENERS AND SEALANTS</h5>
    <ul>
      <li>Drill Point Fasteners</li>
      <li>RoofWrap Sealant</li>
      <li>In-Seam Tape</li>
      <li>White EPDM Cover Tape</li>
      <li>Uncured EPDM Flashing Tape</li>
      <li>Acrylic Water Base Bonding Adhesive</li>
      <li>Bonding Adhesive</li>
      <li>RMS Tape</li>
      <li>Cured EPDM Cover Tape</li>
      <li>Caulk Tape</li>
      <li>Tape Primer</li>
    </ul>

    <h5>FLASHINGS AND MISCELLANEOUS</h5>
    <ul>
      <li>2” Barbed Seam Plates</li>
      <li>Termination Bar</li>
      <li>Steel Vent Cap</li>
      <li>Fan Vent Flashing Hood</li>
      <li>Retrofit Pipe Boot</li>
    </ul>
  </div>
</div>
