<nav id="desktop-menu">
  <ul class="main-nav">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/pricing">Products</a>
      <ul>
        <li><a href="#/pricing">Pricing</a></li>
        <li><a href="#/overview">Overview</a></li>
        <li><a href="#/products">Descriptions</a></li>
      </ul>
    <li><a href="#/about">About</a>
      <ul>
        <li><a href="#/about">About RoofWrap</a></li>
        <li><a href="#/history">History</a></li>
        <li><a href="#/brochure">Download Brochure</a></li>
      </ul>
    </li>
    <li><a href="#/warranty">Warranty</a></li>
    <li><a href="#/faq">FAQ</a></li>
    <li><a href="#/contractor">Resources</a>
      <ul>
        <li><a href="#/contractor">Find a contractor</a></li>
        <li><a href="#/diagrams/construction">Construction Diagrams</a></li>
        <li><a href="#/installation">Installation Guide</a></li>
      </ul>
    </li>
    <li><a href="#/contact">Contact</a></li>
  </ul>
</nav>
