<div layout="row">
  <div class="left-column" flex="33">
    <h2>Customers Love RoofWrap</h2>
    <hr />
    <p class="quote">I battled my  1972 single wide trailer roof for years using coatings.  A neighbor of mine bought a RoofWrap and recommended it.  It’s been 8 years and not a drop to be seen.  My two brothers and I put in on in less than a day.  Thanks RoofWrap!</p>
    <p class="author">Ron R, Forest City, SC</p>
    <br />
    <p class="quote">Our double wide got a White RoofWrap applied to it last month.  It looks great, no leaks and is quieter on the inside than before.  Our park handyman installed it and now has more orders.</p>
    <p class="author">Beverly B, Citrus Springs, FL</p>
  </div>
  <div class="right-column" flex="66">
    <h3>FAQ</h3>
    <hr />
    <img src="#" /> <!-- TODO - img -->
    <p>On this page, you’ll find answers to most of our frequently asked questions.</p>
    <p>Please contact us if you have a question we don’t cover here.</p> <!-- TODO - link -->

    <h5>WHAT IS THE EXPECTED LONGEVITY OF EPDM MEMBRANE?</h5>
    <p>Most EPDM installations exceed 20 years of exposure in the field under various climatic conditions. Even though it would be difficult to predict, studies have shown aged EPDM membrane as having a potential life expectancy of 30 years.</p>

    <h5>DOES EPDM REQUIRE SYSTEMATIC MAINTENANCE OR ADDITIONAL COATINGS OR TREATMENT TO ACHIEVE ITS LIFE EXPECTANCY?</h5>
    <p>No. No special coating or other surface treatment is required. General maintenance in the form of good housekeeping should periodically be performed to remove debris from roof vents, any accumulated dirt and leaves. While on your roof, investigate the performance of other roof mounted components.</p>

    <h5>WOULD REPAIRS TO AN EPDM MEMBRANE BE IMPAIRED BY AGING?</h5>
    <p>No. One of the most unique attributes of EPDM is its ability to be easily repaired as well as its potential for restoration is unparalleled in the roofing industry. The characteristics of the membrane are such that, even after years of field service and exposure to the elements, repairs and/or modifications, such as the installation of a new rooftop unit, can be accomplished with ease and with the expectation of long-term performance.</p>
    <ul>
      <li> EPDM has superior resistance to UV (ultraviolet) radiation </li>
      <li>EPDM has unmatched resistance to thermal shock</li>
      <li>EPDM exhibits superior resistance to cyclic fatigue</li>
      <li>EPDM has superior resistance to hail damage</li>
      <li>EPDM will not become brittle and will not shatter due to low temperature flexibility</li>
    </ul>

    <h5>WHAT IS THE DIFFERENCE BETWEEN BLACK EPDM AND WHITE EPDM MEMBRANE?</h5>
    <p>In addition to the oils and the polymers used to make an EPDM membrane, another ingredient is added to the mix to enhance UV resistance. In the case of a black membrane, carbon black is added, which converts UV rays into heat. With white membrane, in lieu of carbon black, titanium dioxide is typically used to reflect UV rays and prevent it from attacking the polymer.</p>

    <h5>ARE TEMPERATURE LIMITATIONS ASSOCIATED WITH THE INSTALLATION OF EPDM ROOFING SYSTEM?</h5>
    <p>In accordance with ASTM standard D 746, EPDM membrane has a brittleness temperature of -49 F. While the membrane will remain flexible and pliable in extremely cold temperatures, adhesives, flashings and tapes should be kept at room temperature (hot boxes are usually used on the rooftop to rotate adhesive cans and rolls of flashing). Although roofing contractors may select not to work in sub-freezing temperatures due to safety concerns, many EPDM installations have taken place in temps below 20 F.</p>

    <h5>DOES EPDM REQUIRE SYSTEMATIC MAINTENANCE OR ADDITIONAL COATINGS OR TREATMENT TO ACHIEVE ITS LIFE EXPECTANCY?</h5>
    <p>No. No special coating or other surface treatment is required. General maintenance in the form of good housekeeping should periodically be performed to remove debris and leaves, and to investigate the performance of other components.</p>

    <h5>CAN EPDM BE COATED OR PAINTED?</h5>
    <p>Acrylic coatings are available that can be applied directly to a prepared EPDM surface. Preparation usually consists of cleaning the EPDM with a pressure washer and a detergent solution or wash. Latexbased paint products can also be used, however, the EPDM manufacturer should be contacted prior to application to ensure compatibility and continuation of warranty coverage.</p>

    <h5>IS EPDM ENVIRONMENTALLY BENEFICIAL?</h5>
    <p>EPDM is one of the most sustainable and environmental materials used today in the construction industry. Its excellent performance transfers to low life cycle costs and less impact on the environment.</p>
    <p>The initial production of the membrane has a low embodied energy number (the amount of energy required to produce and implement a product from material extraction, manufacture, and installation). Also, several other components (cleaners, primers and adhesives) were developed for use with EPDM to reduce VOC (Volatile Organic Compounds) emissions during installation.</p>
    <p>Post-industrial products can be reincorporated (recycled) into the manufacturing of other roofing products and accessories (i.e., walkways and roofing tiles), thus minimizing the impact on landfills.</p>

    <h5>GENERALLY SPEAKING, IS AN EPDM SINGLE-PLY MEMBRANE ROOFING SYSTEM COST EFFECTIVE?</h5>
    <p>Dollar-for-dollar, EPDM roofing systems are the greatest value in the low slope commercial roofing industry. While installation costs vary from system to system as well as from building to building, generally, ballasted roofing systems have the lowest installed cost per square foot followed by mechanically fastened and fully adhered systems.</p>

    <h5>HOW LONG CAN AN EPDM ROOFING SYSTEM BE WARRANTED?</h5>
    <p>Generally speaking, standard warranties that cover materials are for 10 years.</p>
  </div>
</div>
