<div layout="column">
  <div class="home-image-column">
    <div ng-if="!responsiveHelper.isSmall() && !responsiveHelper.isExtraSmall()">
    <img src="img/black.and.white.roof.png" />
    <h3 class="comment-text">ADAPTIVE <span class="black">&amp; HARDY</span></h3>
    <p class="annotation">AVAILABLE IN BLACK OR WHITE</p>
  </div>
  </div>
  <div layout="row" class="feature-block" ng-if="!responsiveHelper.isSmall() && !responsiveHelper.isExtraSmall()">
    <h4 flex="11" class="margin1">WHY ROOFWRAP?</h4>
    <div flex="39">
      <ul class="feature-list">
        <li>Single, Seamless Sheet Covers Entire Roof</li>
        <li>Permanently Stops Leaks</li>
        <li>Easily Installed</li>
        <li>Low Cost - Long Service Life</li>
        <li>10 Year Warranty</li>
      </ul>
    </div>
    <p flex="50">RoofWrap Mobile Home Roofing Systems are simple, tried and true complete system kits using a single, seamless, white or black EPDM rubber sheet membrane that is custom cut to fit right over the existing roof.  No roof seams, a tough membrane, affordable cost, and simple installations are the keys to RoofWrap’s popularity and success.  RoofWrap is your only source that offers these materials all conveniently supplied in one, easily purchased system.</p>
  </div>

  <div class="marginNeg2 quote" layout="row" ng-if="!responsiveHelper.isSmall() && !responsiveHelper.isExtraSmall()">
    <p flex="79">"Buying a RoofWrap for my home was the best investment I've ever made. It's AFFORDABLE, QUICK TO INSTALL, and will last for YEARS TO COME..."</p>
    <p flex="20">Scott<br /> Renton, WA</p>
  </div>

  <h5 ng-if="responsiveHelper.isSmall() || responsiveHelper.isExtraSmall()">Adaptive &amp; Hardy</h5>

  <div layout="row" class="top-box">
    <p>We offer direct sourcing to commercial grade materials that have been previously limited to contractors through wholesale-only sources.  What’s more, you don’t have to buy contractor size package components.  RoofWrap’s custom kits provide you with just the amount you need for your job requirements.  Need just ten feet of an item?  You’ll be supplied just that, rather than the 100 foot factory roll.  Multiply the savings of each component and the savings are significant.</p>
    <img src="img/epdm.roll.png" ng-if="!responsiveHelper.isSmall() && !responsiveHelper.isExtraSmall()"/>
  </div>

  <h5>Time Tested Systems</h5>
  <hr />
  <p>RoofWrap’s EPDM rubber has been manufactured in the USA since the mid-1960’s.  We have developed the most cost effective, simple to install and longest lasting systems in today’s market.  No other source provides you with such a complete, custom package of top quality, long, proven components.</p>
  <p>We are committed to the use of one-piece EPDM rubber sheets as the best choice for retrofitting over existing mobile home roofs.  RoofWrap is lightweight and can handle roof stresses with its ability to stretch three times its relaxed size.  All this plus it is highly puncture, tear and impact resistant and is made to withstand extremes in temperature, building movement and thermal shock.</p>
  <p>This same EPDM rubber has been the U.S. Federal Government’s most specified low slope roofing membrane.  From the typhoon-prone facilities in Guam and Hawaii to the extremes of Alaska and cross all of North America, EPDM rubber has met their needs.</p>
  <p>Ask those in the professional commercial roofing field:  EPDM is the number one roofing choice of architects, roof consultants and contractors for both new construction and replacement roofing projects according to Building Design and Construction magazine and the National Roofing Contractors Association market surveys.</p>
</div>
