<div layout="row">
  <div class="left-column" flex="33" ng-if="!responsiveHelper.isSmall() && !responsiveHelper.isExtraSmall()">
    <h2>Customers Love RoofWrap</h2>
    <hr />
    <p class="quote">I battled my  1972 single wide trailer roof for years using coatings.  A neighbor of mine bought a RoofWrap and recommended it.  It’s been 8 years and not a drop to be seen.  My two brothers and I put in on in less than a day.  Thanks RoofWrap!</p>
    <p class="author">Ron R, Forest City, SC</p>
    <br />
    <p class="quote">Our double wide got a White RoofWrap applied to it last month.  It looks great, no leaks and is quieter on the inside than before.  Our park handyman installed it and now has more orders.</p>
    <p class="author">Beverly B, Citrus Springs, FL</p>
  </div>
  <div class="right-column" flex="66">
    <h3>PRODUCTS OVERVIEW</h3>
    <hr />
    <img src="" /> <img src="" /><!-- TODO - img -->

    <p>RoofWrap’s EPDM has been manufactured in the USA since the early 1960’s. The product you can buy today is virtually the same as it was over fifty years ago. Why? It works. Ask the United Stated federal government. EPDM has been their most specified low slope roofing membrane. From the hurricane prone facilities in Guam and Hawaii to the extremes of Alaska and across the entire of North America, EPDM has met the needs. The modular building industry prefers EPDM for use on their low-sloped roofs. This industry likes the ease and versatility of factory application. They like the confidence of an EPDM roof, as they know it will be ready for any location’s weather exposure. Ask those in the professional commercial roofing field.</p>
    <p>EPDM is a top roofing choice of architects, roof consultants and contractors for both new construction and replacement roofing projects according to Building Design and Construction magazine and the National Roofing Contractors Association (NRCA) 2002-2003 market surveys. Over 1 billion square feet of new roof coverings is installed in the United States annually. Within just the United States, more than 500,000 warranted roof installations on over 20 billion square feet have been installed.</p>
    <p>Annually, over 1 billion square feet of new EPDM roof coverings are installed in the United States.  Within just the United States, more than 500,000 warranted roofs and 20 billion square feet have been installed.</p>
    <!-- TODO link to products -->
  </div>
</div>
