<div layout="row">
  <div class="left-column" flex="33">
    <h2>Customers Love RoofWrap</h2>
    <hr />
    <p class="quote">I battled my  1972 single wide trailer roof for years using coatings.  A neighbor of mine bought a RoofWrap and recommended it.  It’s been 8 years and not a drop to be seen.  My two brothers and I put in on in less than a day.  Thanks RoofWrap!</p>
    <p class="author">Ron R, Forest City, SC</p>
    <br />
    <p class="quote">Our double wide got a White RoofWrap applied to it last month.  It looks great, no leaks and is quieter on the inside than before.  Our park handyman installed it and now has more orders.</p>
    <p class="author">Beverly B, Citrus Springs, FL</p>
  </div>
  <div class="right-column" flex="66">
    <h3>PRICING</h3>
    <hr />
    <p>Thank you for using our RoofWrap online price calculator. You will be led through 4 steps, each asking information about your home’s design and needs so that we may accurately derive a price for you. We will also need to collect a small amount of personal information in order to confirm standard shipping costs. We do not sell or distribute your information in any way, shape or form.</p>
    <p>If you prefer, you can contact us through email or by phone, and we can ascertain your needs and provide you with a quote.</p>

    <h5>ACCEPTED PAYMENT METHODS</h5>
    <p>PayPal, Friend-to-Friend, USPS Money Order, Credit/Debit Card, Personal Check.</p>
    <img src="" /> <!-- TODO paypal image -->

    <h5>PAYMENT CALCULATOR</h5>
    <p>Our online price calculator will help you determine the cost for you, quickly and easily. <a href="#/calculator">Give it a try!</a></p>
  </div>
</div>
